body{
    background-image:url("image.jpg");
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    margin-top: 80px;
    padding: 30px;
    text-decoration-color:black;
}

h3{
	text-align:left;
}
