body{
	background-image: url("./Images/f35.jpg");

	}
.button{
    text-align: center;
    color: brown;
    font-size: xx-large;
}
h2{
	text-align: center;
}
.container {
background-color: none;
font-size: medium;
}
.form > button:hover{
background-color: rgba(25, 25, 255, .9);
}
#footer{
	padding: 70px;
	width: 290px;
	text-align: center;
	margin: auto;
	height: 0px;
	background-color: burlywood;
}